div.main {
    border-style: solid;
    border-color: goldenrod;
    border-width: 5px;
    background-color: gold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

body.main-background {
    background-color: black;
}

span.up-delta {
    color: green;
}

span.down-delta {
    color: crimson
}

span.marquee-element {
    padding-left: 10px;
}

marquee.main {
    font-size: larger;
}

div.text {
    color: white;
    font-size: larger
}